{
  "layer": "top",
  "position": "top",

  "modules-left": [
    "cpu",
    "memory",
    "disk",
    "battery",
    "wireplumber",
    "hyprland/window"
  ],

  "modules-center": [
    "hyprland/workspaces"
  ],

  "modules-right": [
    "clock",
    "tray"
  ],

  "tray": {
    "icon-size": 18,
    "spacing": 6
  },

  "hyprland/workspaces": {
    "on-click": "activate",
    "format": "{}",
    "window-rewrite": {
      "foot": "",
      "kitty": "",
      "alacritty": "",
      "code": "",
      "codium": "",
      "firefox": "",
      "chromium": "",
      "thunar": "",
      "spotify": ""
    }
  },

  "hyprland/window": {
    "format": "{}"
  },

  "cpu": {
    "format": "CPU {usage}%  |"
  },

  "memory": {
    "format": "RAM {percentage}%  |"
  },

  "disk": {
    "path": "/",
    "format": "Disk {percentage_used}% |"
  },
  "clock": {
    "format": "{:%A, %B %d, %Y | %I:%M %p}",
    "tooltip": false,
    "on-click": "gsimplecal"
  },
  "battery": {
    "bat": "BAT0",
    "interval": 60,
    "format": "Battery {capacity}% |"
  },
  "wireplumber": {
      "format": "Volume {volume}%",
      "on-click": "pwvucontrol",
      "on-click-right": "playerctl --all-players pause"
  }
}
