{{ $colors := include "colors.json" | fromJson -}}

window#waybar {
  background: rgba(0, 0, 0, 0.2);
  color: #{{$colors.special.foreground}};
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding: 0 12px;
}

/* Workspace styles */
#workspaces button {
  padding: 0 8px;
  color: rgba(0, 0, 0, 1);
  border-radius: 0;
}


#workspaces button.persistent {
  color: #{{$colors.colors.color0}};
  background: #{{$colors.colors.color4}};
}

#workspaces button.active {
  color: #{{$colors.colors.color0}};
  background: #{{$colors.colors.color6}};
}

#workspaces button.empty {
  background: #{{$colors.colors.color1}};
}

#workspaces button label {
  padding: 0;
  margin: 0;
}

/* Widget spacing */
#cpu, #temperature, #memory, #disk, #clock, #tray, #battery {
  padding: 0 4px;
  background: #{{$colors.colors.color0}};
}

#window {
  padding: 0 10px;
  color: #{{$colors.colors.color0}};
  background: #{{$colors.colors.color6}};
}