{{- $wallpath := include "wallpath.txt" | trim -}}

wallpaper {
    monitor = eDP-1
    path = {{ $wallpath }}
    fit_mode = cover
}

wallpaper {
    monitor = HDMI-A-1
    path = {{ $wallpath }}
    fit_mode = cover
}
